
.dropbtn {
  max-height: 100px; max-height: 100px;
}
  

.dropdown-content {position: absolute; background-color: white; border-style: solid; display: none;}
  


.dropdown-content a {color: black;}
.green {
  background-color: green;
  display: block;
  text-decoration: none;
  padding: 20px ;
} 
.Blue {
  background-color: blue;
  display: block;
  text-decoration: none;
  padding: 20px ;
} 
.Yellow {
  background-color: yellow;
  display: block;
  text-decoration: none;
  padding: 20px ;
} 
.Purple{
background-color: purple;
display: block;
text-decoration: none;
padding: 20px ;
} 

.show {display: block;}
